body {
    background-color: darkgray;
    text-align: center;
    color: white;
    margin: 0;
}

.intro {
    width: 60%;
    margin-left: 20%;
}

.intro img {
    width: 100%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 40px;
}

.light-mode {
    background-color: white;
    color: black;
}

.light-mode h1 {
    color: black;
}

.light-mode img {
    border: 5px solid black;
}
