body {
    background-color: darkgray;
    text-align: center;
    color: white;
}

.intro {
    width: 60%;
    margin-left: 20%;
}

.intro img {
    width: 100%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-transform: uppercase;
}

img {
    border: 5px solid white;
}